# Dependências
node_modules/
functions/node_modules/

# Logs do Firebase
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ambiente e Chaves (Não compartilhe segredos no GitHub!)
.env
.env.local
.env.*.local
